[submodule "InjectorAddon"]
	path = InjectorAddon
	url = https://github.com/APE-EDX/InjectorAddon.git
[submodule "APEKernel"]
	path = APEKernel
	url = https://github.com/APE-EDX/APEKernel.git
[submodule "APEDLL"]
	path = APEDLL
	url = https://github.com/APE-EDX/APEDLL.git
[submodule "jsAPI"]
	path = jsAPI
	url = https://github.com/APE-EDX/jsAPI.git
[submodule "Projects"]
	path = Projects
	url = https://github.com/APE-EDX/Projects.git
