# Test against this version of Node.js
os: Visual Studio 2015

environment:
  matrix:
    - nodejs_version: "4.4.7"
    - nodejs_version: "6.3.0"
  mega_user:
    secure: xlPK1MpoDIeQwb5iSoHBjKXaCqIv4eAHyTdlQ4E90DI=
  mega_pass:
    secure: 9OuZfYQuSBFVbI91tawyoQ==

matrix:
  allow_failures:
    - nodejs_version: "6.3.0"

platform:
  - x86
  - x64

# Install scripts. (runs after repo cloning)
install:
  # Init submodules
  - git submodule update --init --recursive
  # Get the latest stable version of Node.js or io.js
  - ps: Install-Product node $env:nodejs_version
  # install modules
  - npm install

# Build it
build_script:
  - mkdir build
  - cd build
  - cmake -DSKIP_SUBMODULES_UPDATE=ON ..
  - cmake --build .

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version
  - npm --version
  # run tests
  - npm test

after_build:
  - if "%APPVEYOR_REPO_BRANCH%" == "deploy" call build.bat
